.home-page {
    background: url('./../assets/img/Untitled-1.png') no-repeat;
    background-position: left 10% top 50px;
    background-size: contain;
    height: calc(100vh - 80px);
    font-family: FrederickatheGreat;
    color: #385A64;
    font-size: 3em;
}

.home-page .title {
    position: absolute;
    right: 100px;
    top: 255px;
}

@media (max-width:1500px) {
    .home-page .title h2 {
        display: inline-block;
        font-size: .95em;
    }

    .home-page .title {
        top: calc(100vh - 80px);
    }
}

@media (max-width:1180px) {
    .home-page {
        background-position: left 50% top 10px;
    }

    .home-page .title h2 {
        font-size: 1.05em;
    }

    .home-page .title {
        top: calc(100vh - 85px);
        right: 10px;
        width: 100vw;
        text-align: center;
    }
}

@media (max-width:880px) {
    .home-page {
        background-position: left 50% top 40px;
    }

    .home-page .title {
        top: calc(100vh - 100px);
    }
}

@media (max-width:630px) {
    .home-page {
        background-position: left 50% top 100px;
    }

    .home-page .title h2 {
        font-size: .9em;
    }

    .home-page .title {
        right: unset;
        top: calc(100vh - 130px);
    }
}

@media (max-width:560px) {
    .home-page .title {
        top: calc(100vh - 200px);
    }
}

@media (max-width:450px) {
    .home-page .title {
        top: calc(100vh - 300px);
    }
}