.about-page .main-img {
    width: 100px;
    padding: 80px 0;
    margin: 0 auto;
}

.about-page .main-img img {
    width: 100%;
}

.about-page .imgs {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.about-page .imgs img {
    width: 40%;
    border-radius: 50%;
    margin: 0 10px;
}

.about-page p {
    width: 450px;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 1.5em;
    text-align: justify;
}

@media (max-width:500px) {
    .about-page .main-img {
        width: 70px;
    }

    .about-page p {
        width: 350px;
        padding-top: 20px;
    }
}

@media (max-width:390px) {
    .about-page p {
        width: 200px;
    }
}