@media (max-width:840px) {

    /* header */
    .main-nav {
        width: 100%;
        align-items: center;
    }

    .toggle-menu {
        right: 20px;
    }

    .app-nav-container{
        width:200px;
    }

    .app-nav {
        left:-68px;
        top: 50px;
        flex-direction: row;
    }
}