@import './fonts.css';
@import './scrollbar.css';
@import './helpers.css';
@import './app-header.css';
@import './app-home.css';
@import './user-msg.css';

/* notes */
@import './apps/notes/main.css';
/* email */
@import './apps/emails/main.css';
/* books */
@import './apps/books/main.css';

/* responsiveness */
@import './app-responsive.css';
@import './apps/notes/note-responsive.css';

* {
    box-sizing: border-box;
}

html {
    font-family: ChelseaMarket;
    font-size: 12px;
    color: #313131
}

body {
    margin: 0;
    background-color: #f7f8f8;
}


main {
    margin-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
}

input {
    outline: none;
    border: none;
}

textarea{
    resize: none;
}