@import './fonts.css';
@import './scrollbar.css';
@import './helpers.css';
@import './app-header.css';
@import './user-msg.css';

/* notes */

@import './apps/notes/note-header.css';
@import './apps/notes/note-app.css';
@import './apps/notes/note-add.css';
@import './apps/notes/note-list.css';
@import './apps/notes/note-preview.css';
@import './apps/notes/note-img.css';
@import './apps/notes/note-todos.css';
@import './apps/notes/note-controlls.css';
@import './apps/notes/note-edit.css';
/* email */
@import './apps/emails/email-app.css';
@import './apps/emails/email-header.css';
@import './apps/emails/email-list-titles.css';
@import './apps/emails/email-preview.css';
@import './apps/emails/email-list.css';
@import './apps/emails/email-filter.css';
@import './apps/emails/email-select.css';
@import './apps/emails/email-compose.css';
@import './apps/emails/email-details.css';
/* responsiveness */
@import './app-responsive.css';
@import './apps/notes/note-responsive.css';

* {
    box-sizing: border-box;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #313131
}

body {
    margin: 0;
    background-color: #F4F4F6;
}


main {
    margin-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
}

input {
    outline: none;
    border: none;
}

textarea{
    resize: none;
}