@import './fonts.css';
@import './helpers.css';
@import './app-header.css';
@import '../apps/notes/css/note-header.css';

*{
    box-sizing: border-box;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
}