.flex {
    display: flex;
}

.flex-col {
    display: flex!important;
    flex-direction: column!important;
}

.just-center {
    justify-content: center;
}

.al-center {
    align-items: center;
}

.s-between {
    justify-content: space-between;
}

.s-around {
    justify-content: space-around;
}

.s-evenly {
    justify-content: space-evenly;
}

.wrap{
    flex-wrap: wrap;
}

.pointer{
    cursor: pointer;
}

.shrink{
    height:0!important;
}

.hide{
    display: none;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}