.add-note {
    font-size: 1.4rem;
    max-width: 700px;
    background-color: #fff;
    padding: 15px;
    margin: 20px auto;
    box-shadow: 0 0 1px 0 black;
}

.add-note input {
    font-size: 0.8em;
    width: 65%;
}

.add-note .options {
    width: 25%;
}

.add-note i {
    opacity: 0.5;
}

.add-note i.active {
    opacity: 1;
}