.add-note{
    font-size: 1.4rem;
    max-width: 500px;
    background-color: #fff;
    padding: 15px;
    margin: 20px auto;
}

.add-note input{
    font-size: 0.8em;
    border: none;
    outline: none;
    width:65%;
}

.add-note .options{
    width: 35%;
}

.add-note i{
    opacity:0.5;
}

.add-note i.active{
opacity:1;
}