.note-preview{
    border-radius: 1px;
    font-size: 1.5rem;
    margin: 10px;
    background-color: #fff5be;
    box-shadow: inset 0 0 1px 0 black, 0 0 1px 0 black;
    padding: 20px 20px 40px;
    position: relative;
    min-width:200px;
    max-width:350px;
    text-align: center;
    word-wrap: break-word;
}

.note-preview:hover{
    box-shadow:  0 0 5px 0 black;
}

.note-preview h3{
    margin-bottom: 15px;
}

.note-preview i.icon{
    position: absolute;
    bottom:5px;
    left:5px;
    font-size: 1rem;
    opacity: 0.5;
}
