.note-controlls{
    font-size: 0.8em;
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: none;
}

.note-controlls i{
    opacity:0.6;
    
}

.note-preview:hover .note-controlls{
    display: block;
}

.note-controlls i{
    margin: 0 3px;
    cursor: pointer;
}

.note-controlls i:hover{
    opacity:1;
}

.color-picker{
    position: absolute;
    bottom: -20px;
    right:-10px;
    width:200px
}

.color-picker .color-option{
    border-radius: 50%;
    width:20px;
    height:20px;
    background-color: transparent;
    cursor: pointer;
    outline:none;
}
.color-option.color-1{
    background-color: #fefefe;
}
.color-option.color-2{
    background-color: #fff5be;
}
.color-option.color-3{
    background-color: #ffbebe;
}
.color-option.color-4{
    background-color: #c6ffbe;
}
.color-option.color-5{
    background-color: #bef7ff;
}
.color-option.color-6{
    background-color: #c2beff;
}
.color-option.color-7{
    background-color: #ff7b7b;
}