/* .note-list {
    width: 100vw;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, 125px);
    grid-auto-rows: repeat(auto-fill, 100px);
    grid-auto-flow: dense;
} */