.note-header {
    padding: 35px 60px;
    background-color: #F3CECE;
    position: relative;
    font-size: 2rem;
}

.note-header input {
    padding: 5px 10px;
    width: 400px;
    font-size: 0.6em;
}

.note-header h3 {

}