.note-preview{
    border-radius: 1px;
    font-size: 1.5rem;
    margin: 10px;
    background-color: #fff5be;
    box-shadow: inset 0 0 1px 0 black, 0 0 1px 0 black;
    padding: 10px;
    position: relative;
    min-width:200px;
    max-width:350px;
}

.note-preview:hover{
    box-shadow:  0 0 5px 0 black;
}

