.note-header {
    padding: 10px 60px;
    background-color: #D1CED6;
    position: relative;
    font-size: 2rem;
}

.note-header input {
    padding: 10px 30px 10px 15px;
    width: 400px;
    font-size: 0.6em;
}

.note-header .search{
    position: relative;
}

.note-header .search i{
    position: absolute;
    right: 2px;
    top: 12px;
    font-size: 0.8em;
    opacity: 0.4;
}

.note-header .search i:hover{
    opacity: 0.6;
}