.note-edit {
    position: absolute;
    width: 500px;
    height: 600px;
    background-color: #ffffff;
    top: calc(50% - 300px);
    padding: 25px;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0 0 5px 0 black, inset 0 0 2px 0 black;
    border-radius: 5px;
}

.note-edit button {
    /* margin: 20px; */
    width:200px;
    font-size: 1em;
    position: absolute;
    bottom: 10px;
    right:calc(50% - 100px);
}

.note-edit input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    text-align: center;
    margin: 20px 0;
    background-color: transparent;
}

.note-edit input:focus{
    outline:auto;
}

.note-edit input.title {
    width: 100%;
    font-size: 1.3em;
}

.note-edit textarea {
    padding: 10px;
    font-size: 1em;
    background-color: transparent;
}

.note-edit iframe {
    width: 400px;
    height: 250px;
}

.note-edit ul input {
    font-size: unset;
    padding: 5px;
    margin: 0;
    text-align: unset;
}