.email-status {
    margin: 0 40px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.email-status h3{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.email-status > i {
    font-size: 1.5em;
}

.email-status i {
    cursor: pointer;
}