.email-list {
    background-color: rgb(209, 206, 214, .6);
    max-width: 1000px;
    margin: 0 auto 0 200px;
    padding-top: 10px;
}

.email-list li:first-of-type {
    border-top: 5px solid #F4F4F6;
}

.email-list .unread {
    background-color: rgb(209, 206, 214);
}