.email-preview i {
    cursor: pointer;
}

.email-preview {
    padding: 20px;
}

.email-preview:last-of-type {
    border-bottom: 1px solid #bebec4;
}

.email-preview:last-of-type:hover {
    border-bottom: 1px solid #7f7f83ab;
}

.marks {
    display: flex;
    align-items: center;
    font-size: 1.05em;
    width: 7%;
}

.marks i, .actions i {
    margin: 0 5px;
}

.actions{
    align-items: center;
    font-size: 1.1em;
    width: 12%;
    color: rgb(143, 139, 126);
}

.actions div{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.email-info {
    justify-content: space-around;
}

.email-info h3{
    width:fit-content;
}

.expand {
    display: flex;
    flex-direction: column;
}

.expand > div {
    padding: 10px;
}

.email-from {
    width: 23%;
    color: #39393a;
}

.marks i {
    width: 27%;
    color: #39393a;
}

.unread .email-from h3 {
    font-weight: 600;
}

.email-txt {
    width: 65%;
    font-size: .9em;
    word-break: break-word;
    padding-inline-end: 10px;
}

.email-txt .email-subject {
    color: #202124;
}

.unread .email-subject {
    font-weight: 500;
}
.email-txt .email-body {
    color: #62666a;
}

.email-send-at {
    display: flex;
    align-items: center;
    min-width: 4%;
    font-size: .7em;
    color: rgb(143, 139, 126);
}

.unread .email-send-at h3 {
    color: #39393a;
}