i {
    cursor: pointer;
}

.email-preview {
    padding: 20px;
}

.email-preview:last-of-type {
    border-bottom: 1px solid #bebec4;
}

.marks, .actions {
    padding: 0 20px;
}

.marks i, .actions i {
    margin: 0 5px;
}

.actions i {
    color: rgb(143, 139, 126);
}

.email-info {
    width: 700px;
}

.expand {
    display: flex;
    flex-direction: column;
}

.expand > div {
    padding: 10px;
}

.email-from, .marks i {
    width: 27%;
    color: #39393a;
}

.unread .email-from h3 {
    font-weight: 600;
}

.email-txt {
    width: 65%;
    font-size: .9em;
}

.email-txt .email-subject {
    color: #202124;
}

.unread .email-subject {
    font-weight: 500;
}
.email-txt .email-body {
    color: #62666a;
}

.email-send-at {
    width: 8%;
    font-size: .7em;
    color: rgb(143, 139, 126);
}

.expand .email-send-at {
    
}

.unread .email-send-at h3 {
    color: #39393a;
}