.email-filter {
    position: fixed;
    top: 145px;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 10px 5px;
    font-size: 1.3rem;
}

.email-filter i {
    margin-inline-end: 15px;
    cursor: pointer;
}

.email-filter a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    margin: 5px 5px 5px 0;
    border-radius: 0 20px 20px 0;
}

.email-filter a:hover {
    background-color:rgba(180, 247, 240, .5);
}

.email-filter .selected{
    background-color:rgba(180, 247, 240, .5);
    font-weight: 600;
}


.email-filter hr {
    width: 100%;
}

.email-filter .comp-btn {
    font-size: 1.2em;
    padding: 10px;
    color: #3a3a3a;
    background-color: #fefefe;
    border-radius: 35px;
    box-shadow: 0 0 2px 0 black, inset 0 0 2px 0 black;
}

.email-filter .comp-btn:hover {
    background-color: #fefefe;
    box-shadow: 0 0 4px 0 black, inset 0 0 3px 0 black;
}

.email-filter .filter-by {
    margin-top: 10px;
    height: 40%;
    position: relative;
}

.filter-by > * {
    padding: 10px;
}

.filter-by h4 {
    font-size: 1.3em;
    position: relative;
}
.filter-by-icon {
    position: absolute;
    top: 20px;
    right: -10px;
    font-size: 0.6em;
    display: flex;
}

.filter-by-icon i{
    cursor: default;
}

.filter-by section {
    margin: 10px 0;
}

.opt-btn {
    position: relative;
}

.opt-btn span {
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.starred, .statusRead {
    cursor: pointer;
    padding: 10px;
    border-radius: 0 20px 20px 0;
}

.starred:hover, .statusRead:hover {
    background-color:rgba(180, 247, 240, .5);
}

.filter-opt {
    position: absolute;
    right: -8px;
    top: 40%;
}

.filter-opt .option {
    margin: 10px;
    font-size: 1.1em;
}