.email-details {
    background-color: rgb(209, 206, 214, .6);
    height: calc(100vh - 200px);
    margin: 0 20px 0 220px;
    padding-top: 10px;
    position: relative;
}

.info-container {
    height: 75%;
    width: 90%;
    background-color: #F4F4F6;
    margin: 20px auto;
    padding: 20px;
    overflow: scroll;
    position: relative;
}

.info-container h3 {
    font-size: 1.8em;
    margin-bottom: 25px;
}
.info-container input{
    padding: 5px 10px;
    font-size: 1em;
    background-color: transparent;
}

.bigger {
    color: rgb(143, 139, 126);
    font-size: 1.5em;
    position: absolute;
    width:100px;
    right: 30px;
    bottom: 20px;
}

.bigger i{
    cursor: pointer;
}

.info-container textarea{
    padding: 10px 20px;
    font-size: 1.3em;
    width:100%;
    height:80%;
    background-color: transparent;
}

.rep-btn{
    font-size: 2em;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

